*{
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    font-family: Tahoma;
    margin:0;
  }
  /* Navigatia  */
  .sticky {  
    position: fixed;
    top: 0;
    z-index: 7;

 
  }
  #navbar{
    height: 80px;
    background-color:#242323;
    box-shadow: 0 -10px 10px -3px black, 0 10px 10px -3px black;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 8;
  }
  
  #navbar ul{
  
    float:right;
    margin-right:60px;
  } 
  #navbar ul li{
    display:inline-block;
    line-height: 80px;
    margin:0px 20px;
    font-size: 20px;
   
  }
  
  #navbar ul li a{ 
    color :white;
    padding:10px;
    
  
  }
  label.logo{
    height:100%;
    max-width: 50%;
  }
  
  label.logo img{
    height: 100%;  
   
  
  }
  a.active,a:hover{
    background: #3f3e3e;
  transition: .5s;
  border-radius: 5px;
  
  }
  
  .topimg{
    height:770px;
    width: 100%;
    
   
  }
  .topimg img{display: flex;
    height: 100%;
    width: 100%;
   
  }
  #menubutton{
    display: none;
  }
   

  .open-nav{transform: translateY(100%);
    z-index: 8;
  }
  
.topimg{display: flex;
    height:770px;
    width: 100%;
    
   
}
.topimg img{display: flex;
    height: 100%;
    width: 100%;
    z-index: 8;
}
 /* container */
.container{display: flex;
  justify-content: center;
  width:70%;
  border:1px solid black;
  height: 200px;
  margin: 5vh auto;

}
#box-chose{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  height: 70%;
  background-color:rgb(36,35, 35,0.1 );
  margin:auto 0 ;

}
.col{
  margin: auto 0;
display: flex;
flex-direction:column;
justify-content: flex-start;
gap:2vh
}
.row-1{
  font-size:2.5vh;
}
.row-2 select{
  width: 100%;
}
 







              /* FOOTER */

#footer{
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    background-color: #242323;
    margin-top:30px;
    color: white;
    overflow: hidden;
    font-size: 2vh;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.fbox{
    height: 30vh;
    width: 100%;
    font-family: tahoma;
    line-height: 2.4vw;

}
.fbox:nth-child(2){
    background-image: url(logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

 .h2, .p, .h1, .fbox {
    padding:1vh 3vw 0px 3vw;
}
.fbox img{
    display: inline-block;
    margin: 20px;
    height: 3vh;
    width:2vw;
}
/* Scroll bar  */
::-webkit-scrollbar{
    background-color:rgba(36,35, 35,0.3 );
    border-radius: 10px;
    margin-block:10px;

     }
    ::-webkit-scrollbar-thumb{
    background-color: #242323;
     border-radius: 10px;

    }
    ::-webkit-scrollbar-track{
        margin-block:10px;
        background-color: inherit;
    }

    @media (max-width:1140px){
      /* Footer */
      #footer{
        font-size: 1.8vh;
        height: 200px;

      }
      .fbox img{ 
        height: 5vh;
        width: 5vw;
        margin:2vh;
      
      }
      .h2, .p, .h1, .fbox {
        padding:1vh 3vw 0px 3vw;
        line-height: 1.5rem;
      }
      /* image slide  */
     
    }
                  /* Sectorul de responsive */
    @media (max-width: 1300px) {
      .box{
        
        width: calc(100% /5);
        
        
      
      }
    
    }
    @media(max-width: 950px)
    {
    
    /* Navigatia  */
      #navbar{position: fixed;
        display: flex;
        justify-content: flex-end;
        top:0;
        gap:40vw;
        z-index: 8;
        width: 100vw;
      }
      #navbar ul {position: absolute;
        left:0%;
        top:-500%;
        width: 100%;
        margin:0;
        z-index: 8;
        background-color: #242323;
        transition:  1s;
      }
       #navbar ul li {
        display: block;
        text-align: center;
        width: 100%;
      }
      #menubutton{display: flex;
        width: 50px;
        height: 4vh;
        z-index: 8; 
        background:#3f3e3e;
        border-radius: 5px;
       
      }
      #menubutton img {
        display: flex;
        width: 100%;
        height: 100%;
    
      }
      .logo img{
        padding:0;
      }
      /* footer  */
     #footer{ 
       margin-top:0px;
     }
     .h2, .p, .h1, .fbox {
      padding:1vh 3vw 0px 3vw;
      line-height: 1.8rem;
  }
  .fbox img{ 
    height: 3.5vh;
    width: 3.5vw;
    margin:2vh;
  
  }
  
 
    
    }
    @media (max-width:700px){
      
       .h2, .p, .h1, .fbox {          /*   footer  */
        padding:1vh 3vw 0px 3vw;
      }
      #footer{
        height: 23vh;
        font-size:1.3vh;
      }
      .fbox img{ 
        height: 3vh;
        width: 3vw;
        font-family: tahoma;
        margin:0.5vh;
      
      }
      .fbox:nth-child(2){
        height: 20vh;
        width: 30vw;
        display:none;
      }
      
      
    
    }
    @media (max-width:550px){


     
    }

        
    
